:root {
    --external-link-color: cyan;
    --internal-link-color: pink;
}

blockquote {
    text-align: center;
    margin: 4rem auto;
}

img {
    max-width: 85% !important;
    display: block;
    margin: auto;
    border: 0.5rem solid #808080;
    border-radius: 0.5rem;
}

ul * {
    margin: 1rem 0;
}

li::marker {
    content: "→  ";
}

a {
    padding: 0 0.2rem !important;
    white-space: nowrap;
    color: var(--internal-link-color) !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    &:hover {
        border-color: rgba(var(--internal-link-color), 0.6);
    }
}

a[href^="#"] {
    color: unset !important;
}

a[href^="http"] {
    color: var(--external-link-color);
    &:hover {
        border-color: var(--external-link-color);
    }
}
a[target="_blank"]::after {
    content: " ⤴";
    font-size: smaller;
}
